<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="hkMQQcYw4QigZu5LtwpsDLGjXDiqh9KYVrpzTNZGhMM" />

    <meta name="description"
        content="Say goodbye to scattered notes with our free online notepad app. Our app securely stores your notes in the cloud and syncs them across devices on the same network, making it easy to access your ideas from anywhere. All for free!">
    <title>Cloud Notepad - Free Online Notes App</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/gh/marcelodolza/iziToast/dist/js/iziToast.min.js"></script>
</head>

<body>
    <div class="loader">
        <img src="/icon.png" alt="">
        Loading Your Previous Notes
    </div>

    <h1>Cloud Notepad</h1>
    <textarea class="notepad" placeholder="Type something here..." maxlength="405522"><%= text %></textarea>
    <div class="options">
        <div class="btn clear-btn">Clear</div>
        <div class="btn delete-data-btn">Delete My Data</div>
        <div class="btn save-btn">Save</div>
    </div>

    <div class="message">Created With ❤️ By
        <a href="https://www.sololearn.com/profile/19684449" target="_blank">Sancho
            Godinho</a>
    </div>
</body>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Poppins:wght@300;400;500&display=swap');

    body {
        width: 100vw;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
    }

    .loader {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 20px;
        font-family: 'Barlow', sans-serif;
        font-weight: 500;
        user-select: none;
        pointer-events: none;
        z-index: 9999;

    }

    h1 {
        font-size: 25px;
        margin: 10px;
        font-family: 'Barlow', sans-serif;
    }

    .notepad {
        width: calc(100% - 40px);
        height: calc(100% - 200px);
        border-radius: 15px;
        padding: 10px;
        resize: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border: 0;
        background-color: rgb(224, 224, 224);
        font-family: 'Barlow', sans-serif;
        font-size: 17px;
        max-width: 900px;
    }

    .options {
        width: calc(100% - 20px);
        max-width: 920px;
        display: flex;
    }

    .btn {
        width: calc(100% - 20px);
        color: white;
        cursor: pointer;
        background-color: blueviolet;
        padding: 10px;
        font-family: 'Barlow', sans-serif;
        font-size: 15px;
        transition: all .10s linear;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-right: 1px solid darkgrey;
    }

    .btn:active {
        background-color: rgb(123, 39, 202);
    }

    .clear-btn {
        border-bottom-left-radius: 15px;
    }

    .save-btn {
        border-right: 0;
        border-bottom-right-radius: 15px;
    }

    .message {
        margin-top: 5px;
        font-family: 'Barlow', sans-serif;
        margin-bottom: 5px;
    }

    .message a {
        all: unset;
        color: blue;
        cursor: pointer;
    }

    * {
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }
</style>

<ins class="adsbygoogle"></ins>

<script>

    var a = document.createElement('div');
    a.innerHTML = '&nbsp;';
    a.className = 'ads ad adsbox doubleclick ad-placement carbon-ads adglare';
    a.style = 'width: 1px !important; height: 1px !important; position: absolute !important; left: -5000px !important; top: -5000px !important;';
    var ads = false;
    try {
        document.body.appendChild(a);
        var e = document.getElementsByClassName('adsbox')[0];
        if (e.offsetHeight === 0 || e.clientHeight === 0) ads = true;
        if (window.getComputedStyle !== undefined) {
            var tmp = window.getComputedStyle(e, null);
            if (tmp && (tmp.getPropertyValue('display') == 'none' || tmp.getPropertyValue('visibility') == 'hidden')) r = true;
        }
        document.body.removeChild(a);
    } catch (e) { }
    if (ads == true) {
        alert('Please 🙏 Disable Your Ad Blocker To Support The Developer 😭');
    } else {
        let AdScript = document.createElement('script');
        AdScript.setAttribute('type', 'text/javascript');
        AdScript.innerText = `atOptions = {'key': '99af1f3ae10e696f18b28c1dd9f8bbad','format': 'iframe','height': 60,'width': 468,'params': {}};document.write('<scr' + 'ipt type="text/javascript" defer src="http' + (location.protocol === 'https:' ? 's' : '') + '://pistolterrificsuspend.com/99af1f3ae10e696f18b28c1dd9f8bbad/invoke.js"></scr' + 'ipt>');`
        document.body.appendChild(AdScript);

        // let queries = new URLSearchParams(window.location.search);
        // if (queries.has('sl') == false || queries.has('sl') && queries.get('sl') == 'false') {
        //     let AdScript2 = document.createElement('script');
        //     AdScript2.setAttribute('src', '//pistolterrificsuspend.com/bc/73/32/bc7332d0b64089cd9a1d1e7b992c84c4.js');
        //     document.body.appendChild(AdScript2);
        // }
    }

    window.addEventListener('load', () => {
        window.SaveMyData = () => {
            $.ajax({
                url: '/save',
                method: 'POST',
                data: {
                    text: $('.notepad').val()
                }
            }).done((saveData) => {
                if (saveData.success != null && saveData.success == true) {
                    iziToast.success({
                        title: 'Success',
                        message: 'Successfully Saved Your Notes!',
                        timeout: 2000
                    });
                } else {
                    iziToast.error({
                        title: 'Failed:',
                        message: 'Internal Server Error, Please Try Again Later!',
                        timeout: 2000
                    });
                }
            }).fail(() => {
                iziToast.error({
                    title: 'Failed:',
                    message: 'Could Not Save Your Data, Please Try Again Later!',
                    timeout: 2000
                });
            });
        }

        $('.loader').fadeOut(500, () => {
             <% if (previouslyLoggedIn == false) { %>
                alert(`
Created By: Sancho Godinho [https://www.sololearn.com/profile/19684449]

Free And Unlimited Database By: Deta Space [https://deta.space/]

Icon By: Icons8 [https://icons8.com/]

+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+

Max Characters Allowed: 405522
This App Is Completely Free!

Tip:
Save The Notes On This Device And Visit It On Another Device In The Same Network, See The Magic 🔥

Note: PLEASE DO NOT STORE ANY CRITICAL DATA SINCE ONLY IP ADDRESSES ARE ENCRYPTED AND ALSO DON'T USE THIS AS A LONG TERM STORAGE SERVICE SINCE DATA IS STORED ONLY TILL 5 YEARS AND ONLY ON THIS NETWORK IN THIS APP!

Thank You For Using This App 😊
            `);
            <% } %>
                $('.notepad').focus();
        });
    });

    window.addEventListener('DOMContentLoaded', () => {
        document.body.style.height = window.innerHeight + 'px';
    });

    window.addEventListener('resize', () => {
        document.body.style.height = window.innerHeight + 'px';
    });

    document.addEventListener('keydown', (event) => {
        if (event.ctrlKey == true && event.key == 's') {
            event.preventDefault();
            window.SaveMyData();
        }
    });

    $('.delete-data-btn').click(() => {
        iziToast.question({
            timeout: null,
            close: false,
            overlay: true,
            displayMode: 'once',
            id: 'question',
            zindex: 999,
            title: 'Request Delete Of Data',
            message: 'I, Sancho Godinho The Developer Of Cloud Notepad Cares About Your Privacy And So, By Clicking "Yes" You Can Completely Delete Your Data From Our Database!',
            position: 'center',
            buttons: [
                ['<button>YES</button>', function (instance, toast) {

                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    $.ajax({
                        url: '/delete',
                        method: 'POST'
                    }).done((data) => {
                        if (data.success != null && data.success == true) {
                            alert('Your Data Has Been Successfully Deleted ✔️');
                            $('.notepad').val('');
                        }
                        else {
                            alert('Internal Server Error, Please Try Again Later!');
                        }
                    }).fail(() => {
                        alert('Failed To Send Request To Server!');
                    });

                }, true],
                ['<button>NO</button>', function (instance, toast) {

                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                }],
            ]
        });
    });

    $('.save-btn').click(() => {
        window.SaveMyData();
    });

    (function () {
        var cssMain = document.createElement('link');
        cssMain.href = 'https://cdn.jsdelivr.net/gh/marcelodolza/iziToast/dist/css/iziToast.min.css';
        cssMain.rel = 'stylesheet';
        cssMain.type = 'text/css';
        document.getElementsByTagName('head')[0].appendChild(cssMain);
    })();
</script>

<!-- Google tag (gtag.js) -->

<script async src="https://www.googletagmanager.com/gtag/js?id=G-TERKYJHFPQ"></script>

<script>

  window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());

  gtag('config', 'G-TERKYJHFPQ');

</script>

</html>
