<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta name="google-site-verification" content="hkMQQcYw4QigZu5LtwpsDLGjXDiqh9KYVrpzTNZGhMM" />
    <meta name="description"
        content="Cloud notepad is a free online cloud notes app to sync your notes across devices on your network for free!">
    <meta name="keywords"
        content="notepad, cloud notepad, free online notepad, cloud notes, secure notepad, free online secure notepad">
    <title>Cloud Notepad - A Secure And Free Online Notes App</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/gh/marcelodolza/iziToast/dist/js/iziToast.min.js"></script>
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TERKYJHFPQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-TERKYJHFPQ');
    </script>

    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
            t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "g8erqtwdiv");
    </script>
</head>

<body>
    <div class="loader">
        <img src="/icon.png" alt="">
        Loading Your Previous Notes
    </div>

    <h1>Cloud Notepad</h1>
    <textarea class="notepad" placeholder="Type something here..." maxlength="405522"><%= text %></textarea>
    <div class="options">
        <div class="btn clear-btn">Clear</div>
        <div class="btn delete-data-btn">Delete My Data</div>
        <div class="btn save-btn">Save</div>
    </div>

    <div class="message">Created With ❤️ By
        <a href="https://www.sololearn.com/profile/19684449" target="_blank">Sancho
            Godinho</a>
        <br>
        <!-- You Can Hire Me To <a href="https://www.fiverr.com/s/9R66kE" target="_blank">Make You A Website</a> Or <a
            href="https://www.fiverr.com/s/xK88KQ" target="_blank">Write You Content</a> At Affordable Rates! -->
        <div style="width:calc(100% - 20px);margin-top:5px;margin-left:20px;margin-right:20px">
            You Can Contact Me For Sponsorship Requests/Hire Me As A Freelancer At Affordable Rates Here: <a
                href="mailto:contact@sg-app.com" target="_blank">contact@sg-app.com</a>
        </div>
    </div>

    <div class="warning">
        <h1>Cloud Notepad has reached it's end of life!</h1>
        <p>First of all, thank you so much for the love & support you showed to this service. Cloud Notepad served it's
            purpose for a while & am so happy about it!<br><br>
            In fact, it is one of my most successful project yet!<br><br>But, there were a lot of problems with this
            service like many people weren't able to access their notes
            after storing them. This is because your notes are stored in an IP based format by this service. So,
            if you change your network, you won't be able to access your notes anymore.
            <br><br>This also created a lot of garbage notes which no one is able to access & use anymore.
        </p>
        <p>Thats why, I decided to re-make this project from scratch!</p><br>
        <hr> <br>
        <p>Introducing <a href="https://smart-notes.sg-app.com" target="_blank">Smart Notes</a> - A new & improved
            version of Cloud Notepad! <br><br>Smart Notes constists of features like:<br><br>1. Live Collaborative
            editing
            which means you can edit
            your notes in realtime with another person!<br><br>2. Rich Text - Adding images, changing font style & size,
            and much more to your notes!<br><br>3. Nearby Note Sharing - Share your notes with people near you
            without any
            requirement of sharing
            links!<br><br>4. Much better & upgraded UI<br><br>5. Much More Secure 🔒
            <br><br> And Many More Features!<br>
            <br>Also, your notes won't get lost anymore since they are stored in a secure database after you signup!
            <br><br>The New Service (Smart Notes) Is Free Too So Don't Worry About That!<br>
            Check out the Promo Video on <a href="https://youtube.com/shorts/zcM-CJxWkYM" target="_blank">YouTube</a>!
        </p>
        <a href="https://smart-notes.sg-app.com" style="all:unset;cursor:pointer;">
            <div class="btn" style="border-radius:5px;margin-top:5px;">Switch to Smart Notes (Recommended)</div>
        </a>
        <div class="btn" style="border-radius:5px;margin-top:10px;" onclick="this.parentNode.remove();">Continue With
            The Old Service (Not Recommended)
        </div>
        </p>
    </div>
</body>

<style>
    .warning {
        width: calc(fit-content - 40px);
        height: calc(fit-content - 30px);
        max-width: 1000px;
        max-height: calc(100% - 30px);
        position: fixed;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        border: 2px dashed;
        overflow-x: hidden;
        overflow-y: auto;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    }

    .warning>* {
        margin: 0;
        padding: 0;
        /* text-align: center;
        white-space: balance; */
    }

    .warning h1 {
        font-family: 'Barlow', sans-serif;
        margin-bottom: 10px;
    }

    .warning p {
        font-family: 'Barlow', sans-serif;
        /* line-height: 30px; */
    }
</style>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Poppins:wght@300;400;500&display=swap');

    html {
        overflow: hidden;
    }

    body {
        width: 100vw;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
    }

    .loader {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 20px;
        font-family: 'Barlow', sans-serif;
        font-weight: 500;
        user-select: none;
        pointer-events: none;
        z-index: 9999;

    }

    h1 {
        font-size: 25px;
        margin: 10px;
        font-family: 'Barlow', sans-serif;
        margin-top: -10px;
    }

    .notepad {
        width: calc(100% - 40px);
        height: calc(100% - 220px);
        border-radius: 15px;
        padding: 10px;
        resize: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border: 0;
        background-color: rgb(224, 224, 224);
        font-family: 'Barlow', sans-serif;
        font-size: 17px;
        max-width: 900px;
    }

    .options {
        width: calc(100% - 20px);
        max-width: 920px;
        display: flex;
    }

    .btn {
        width: calc(100% - 20px);
        color: white;
        cursor: pointer;
        background-color: blueviolet;
        padding: 10px;
        font-family: 'Barlow', sans-serif;
        font-size: 15px;
        transition: all .10s linear;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-right: 1px solid darkgrey;
    }

    .btn:active {
        background-color: rgb(123, 39, 202);
    }

    .clear-btn {
        border-bottom-left-radius: 15px;
    }

    .save-btn {
        border-right: 0;
        border-bottom-right-radius: 15px;
    }

    .message {
        margin-top: 5px;
        font-family: 'Barlow', sans-serif;
        margin-bottom: 5px;
        text-align: center;
    }

    .message a {
        all: unset;
        color: blue;
        cursor: pointer;
    }

    * {
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }
</style>

<script>
    window.addEventListener('load', () => {
        window.SaveMyData = () => {
            $.ajax({
                url: '/save',
                method: 'POST',
                data: {
                    text: $('.notepad').val()
                }
            }).done((saveData) => {
                if (saveData.success != null && saveData.success == true) {
                    iziToast.success({
                        title: 'Success',
                        message: 'Successfully Saved Your Notes!',
                        timeout: 2000
                    });
                } else {
                    iziToast.error({
                        title: 'Failed:',
                        message: 'Internal Server Error, Please Try Again Later!',
                        timeout: 2000
                    });
                }
            }).fail(() => {
                iziToast.error({
                    title: 'Failed:',
                    message: 'Could Not Save Your Data, Please Try Again Later!',
                    timeout: 2000
                });
            });
        }

        $('.loader').fadeOut(500, () => {
             <% if (previouslyLoggedIn == false) { %>
                alert(`
Created By: Sancho Godinho [https://www.sololearn.com/profile/19684449]

Free And Unlimited Database By: Deta Space [https://deta.space/]

Icon By: Icons8 [https://icons8.com/]

+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+

Max Characters Allowed: 405522
This App Is Completely Free!

Tip:
Save The Notes On This Device And Visit It On Another Device In The Same Network, See The Magic 🔥

Note: PLEASE DO NOT STORE ANY CRITICAL DATA SINCE ONLY IP ADDRESSES ARE ENCRYPTED AND ALSO DON'T USE THIS AS A LONG TERM STORAGE SERVICE SINCE DATA IS STORED ONLY TILL 5 YEARS AND ONLY ON THIS NETWORK IN THIS APP!

Thank You For Using This App 😊
            `);
            <% } %>
                $('.notepad').focus();
        });
    });

    window.addEventListener('DOMContentLoaded', () => {
        document.body.style.height = window.innerHeight + 'px';
    });

    window.addEventListener('resize', () => {
        document.body.style.height = window.innerHeight + 'px';
    });

    document.addEventListener('keydown', (event) => {
        if (event.ctrlKey == true && event.key == 's') {
            event.preventDefault();
            window.SaveMyData();
        }
    });

    $('.delete-data-btn').click(() => {
        iziToast.question({
            timeout: null,
            close: false,
            overlay: true,
            displayMode: 'once',
            id: 'question',
            zindex: 999,
            title: 'Request Delete Of Data',
            message: 'I, Sancho Godinho The Developer Of Cloud Notepad Cares About Your Privacy And So, By Clicking "Yes" You Can Completely Delete Your Data From Our Database!',
            position: 'center',
            buttons: [
                ['<button>YES</button>', function (instance, toast) {

                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    $.ajax({
                        url: '/delete',
                        method: 'POST'
                    }).done((data) => {
                        if (data.success != null && data.success == true) {
                            alert('Your Data Has Been Successfully Deleted ✔️');
                            $('.notepad').val('');
                        }
                        else {
                            alert('Internal Server Error, Please Try Again Later!');
                        }
                    }).fail(() => {
                        alert('Failed To Send Request To Server!');
                    });

                }, true],
                ['<button>NO</button>', function (instance, toast) {

                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                }],
            ]
        });
    });

    $('.save-btn').click(() => {
        window.SaveMyData();
    });

    (function () {
        var cssMain = document.createElement('link');
        cssMain.href = 'https://cdn.jsdelivr.net/gh/marcelodolza/iziToast/dist/css/iziToast.min.css';
        cssMain.rel = 'stylesheet';
        cssMain.type = 'text/css';
        document.getElementsByTagName('head')[0].appendChild(cssMain);
    })();
</script>

</html>